LANGFUSE_HOST=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=

HTTP_PROXY='http://host.docker.internal:7890'
HTTPS_PROXY='http://host.docker.internal:7890'
NO_PROXY=

# https://github.com/popjane/free_chatgpt_api
OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_MODEL='gpt-3.5-turbo'
OPENAI_EMBEDDING_MODEL='text-embedding-3-large'
TAVILY_API_KEY=''

HF_TOKEN=
SPACE_ID='Juliusx/agentcourcefinalproject'

HF_ENDPOINT="https://hf-mirror.com"
